@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Yekan';
    src: url('../src/font/yekan-regular.woff') format('woff'),
         url('../src/font/yekan-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Yekan', sans-serif;
  }
}
